.bg-custom {
  background-image: url("/img/bg.jpg") !important;
  background-color: #000;
  background-size: 280vw;
  background-repeat: no-repeat;
}
.bg-black {
  background: #000;
}

.an-bg {
  animation-name: anbg;
  animation-iteration-count: 1;
  animation-duration: 4s;
}
@keyframes anbg {
  from {
    background: #18f7ff;
  }
  to {
    background: #ffffff00;
  }
}
.custom-box {
  background: #0dcaf038 !important;
  margin: 10px;
  padding: 10px;

  border-radius: 50px;
}
.custom-box-2 {
  background: #0dcaf038 !important;
  padding: 20px;
  border-radius: 20px;
}
.border-custom {
  border-radius: 50px !important;
}
.an-color {
  padding-top: 10px;
  border-radius: 50%;
  border-color: #000;
}
.an-color:hover {
  border-radius: 20px;
  border: 2px solid #1bcef296;
  background-image: linear-gradient(black, #1bcef296);

  transition: all 0.5s ease-in-out;
}

@media screen AND (max-width: 1000px) {
  .bg-custom {
    background-size: cover;
  }
  .custom-box {
    border-radius: 20px;
    text-align: center;
  }
  .custom-box-2 {
    width: 90% !important;
  }
  .link-button {
    border: 2px solid white !important;
    background: #09a8c8d3;
    margin: 10px !important;
    border-radius: 20px !important;
  }
}
